
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <script src="https://use.typekit.net/qyg0nrf.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ "/assets/socicon/css/socicon.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/mobirise/css/style.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/mobirise/css/override.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/fonts/neat-icons/style.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/github.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/images/neat-logo-slim-16.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/images/neat-logo-slim-32.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="64x64" href="{{ "/assets/images/neat-logo-slim-64.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/svg+xml" sizes="any" href="{{ "/assets/images/neat-logo-slim.svg" | prepend: site.baseurl }}">
