---
layout: landing-item
---
<div class="mbr-box__magnet mbr-class-mbr-box__magnet--center-left col-sm-6 mbr-section__left">
    <div class="mbr-section__container mbr-section__container--middle">
        <div class="mbr-header mbr-header--auto-align mbr-header--wysiwyg">
            <h3 class="mbr-header__text">{{page.name}}</h3>
            <i class="fa fa-apple fa-2x platform" style="margin-left:30px;" title="Compatible with iOS"></i>
            <i class="fa fa-android fa-2x platform" title="Compatible with Android"></i>
            <i class="fa fa-windows fa-2x platform" title="Compatible with Windows Phone"></i>
            <i class="fa fa-laptop fa-2x platform" title="Compatible with PC, Mac and Linux"></i>
            <i class="fa fa-chrome fa-2x platform" title="Compatible with Web Player"></i>
            <i class="fa fa-html5 fa-2x platform" title="Compatible with WebGL"></i>
        </div>
    </div>
    <div class="mbr-section__container mbr-section__container--middle">
        {{ content }}
    </div>
</div>
<div class="mbr-box__magnet mbr-box__magnet--top-left mbr-section__right col-sm-6">
    <figure class="mbr-figure mbr-figure--adapted mbr-figure--caption-inside-bottom mbr-figure--full-width"><img class="mbr-figure__img" src="{{page.image}}"></figure>
</div>
